* {
  box-sizing: border-box
}

#loadPage {
  width: 1200px;
  margin: 150px auto 500px;
  text-align: left;
  height: 500px;
  color: #333333;
  font-family: "Noto Sans KR", sans-serif;
}

.container h2 {
  font-size: 23px;
  margin-bottom: 20px;
}

.container > div {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: 100%;
  height: 45px;
  font-size: 15px;
  border: 1px solid #c1c1c1;
  outline: none;
  padding-left: 10px;
  background-color: none;
  border-bottom: none;
  color: #333333;
}

.container > div > div {
  width: 100%;
  height: 45px;
  border: 1px solid #c1c1c1;
  border-bottom: none;
}

.container > div > div button {
  height: 30px;
  line-height: 30px;
  margin: 7px 10px 0 0;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  cursor: pointer;
}

.container > div > div input[type=file] {
  display: none;
}

.container > div > div label {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  cursor: pointer;
  font-size: 13px;
}

.container > div > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container > div > div:nth-of-type(2) input {
  border-top: none;
}

.container > div > div:nth-of-type(2) > button {
  margin-top: 0;
}

.container .introImg {
  width: 10%;
  border: 1px solid #c1c1c1;
  border-left: none;
}

#thumbnail-name {
  width: 700px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.container > div > div button:nth-of-type(1) {
  margin-left: 10px;
}

.registerbtn {
  background-color: #cd1319;
  color: white;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: -1px;
}

.inquiryText {
  width: 100%;
  border: 1px solid #c1c1c1;
  font-size: 15px;
  padding: 10px;
  resize: none;
}

/*미디어쿼리*/
@media (max-width: 1290px) {
  #loadPage {
    width: 1025px;
    padding: 0 20px;
  }
  input::placeholder {
    font-size: 14px;
  }
  .container .introImg {
    width: 11%;
  }
}

@media (max-width: 1024px) {
  #loadPage {
    width: 961px;
  }
  .container .introImg {
    width: 12%;
  }
}

@media (max-width: 960px) {
  #loadPage {
    width: 769px;
  }
  .container .introImg {
    width: 15%;
  }
  #thumbnail-name {
    width: 500px;
  }
}

@media (max-width: 768px) {
  #loadPage {
    width: 641px;
  }
  .container .introImg {
    width: 18%;
  }
  #thumbnail-name {
    width: 370px;
  }
}

@media (max-width: 640px) {
  #loadPage {
    width: 581px;
  }
  .container .introImg {
    width: 21%;
  }
  #thumbnail-name {
    width: 300px;
  }
  .container > div .inquiryPart button {
    font-size: 12px;
    margin: 7px 2px 0 0;
    padding: 0 10px;
  }
}

@media (max-width: 580px) {
  #loadPage {
    width: 481px;
  }
  .container .introImg {
    width: 25%;
  }
  #thumbnail-name {
    width: 220px;
  }
}

@media (max-width: 480px) {
  #loadPage {
    width: 376px;
  }
  .container .introImg {
    width: 29%;
  }
  .container > div > div button {
    font-size: 12px;
    margin: 7px 2px 0 0;
    padding: 0 10px;
  }
  .container > div .inquiryPart button {
    font-size: 2px;
    margin: 7px 0px 0 0px;
    padding: 0 7px;
  }
  .container > div > div label {
    padding: 0 10px;
    font-size: 12px;
}
  input::placeholder {
    font-size: 12px;
  }
  #thumbnail-name {
    font-size: 12px;
    width: 140px;
  }
}

@media (max-width: 375px) {
  #loadPage {
    width: 301px;
  }
  .container .introImg {
    width: 37%;
  }
  .container > div > div button {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    margin: 9px 0px 0 0;
    padding: 0 6px;
  }
  .inquiryPart {
    height: 70px !important;
  }
  .onOff {
    margin-left: 10px !important;
  }
  .container > div > div label {
    padding: 0 6px;
    font-size: 10px;
  }
  input::placeholder {
    font-size: 12px;
  }
  #thumbnail-name {
    font-size: 12px;
    width: 90px;
  }
  .registerbtn {
    padding: 10px 0;
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  #loadPage {
    width: 280px;
    padding: 0 10px;
  }
}